/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #53616f;
    color: #bfc6cd;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* Títulos */
h1 {
    text-align:left;
    font-size: 4rem;
    color: #dfe0e2;
    font-family:Georgia, 'Times New Roman', Times, serif
}

/* Botões */
.btn {
    border-radius: 5px;
}

/* Caixa de pesquisa */
.box-search {
    margin-bottom: 50px;
}

.box-search input[type="search"] {
    border-radius: 5px;
    padding: 10px;
}

/* Tabela */
.table {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
}

.table th {
    background-color: #112439;
    color: white;
    text-align: center;
}

.table td {
    text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

/* Alertas */
.alert {
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Estilos para os ícones */
.bi {
    margin-right: 5px;
}

/* Hover nos botões */
.btn:hover {
    opacity: 0.9;
}
